.wrapper{
    padding: 5px 5px;
}
.box-area{
    display: grid;
    grid-template-columns: repeat(minmax(300px, 1rf));
    grid-gap: 20px;
    margin-top: 50px;
}
.box{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 16px rgba(0, 0, .1);
}
.box Image{
    width: 100%;
    border-radius: 10px;
    display: flex;
    transition: transform .5s;
}
.overlay{
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, rgb(6,27,40) 48%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    font-size: 14px;
    transition: height .5s;
}
.overlay h3{
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 30%;
    font-family: bebas neue;
    font-size: 30px;
    letter-spacing: 2px;
    
}
.overlay .live-link .link{
    margin-top: 10px;
    color: #262626;
    font-size: 14px;
    background: #FFF;
    border-radius: 50px;
    text-align: center;
    padding: 5px 10px;

}
.live-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.box:hover img{
    transform: scale(1.2);
}
.box:hover .overlay{
    height: 100%;
}