
.skills{
    width: 100%;
}
.skill-name{
    font-size: 1.15rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
}
.skill-bar{
    height: .5rem;
    background: white;
    border-radius: 10px;
}
.skill-per{
    height: .5rem;
    background: #25BFBF;
    border-radius: 10px;
    position: relative;
    animation: animation-bar 2.5s 1;
    animation: scroll(0);
}
.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #25BFBF;
    border-radius: 10px;
    font-size: 1rem;
    top: -36px;
    right: 0;
    color: #FFF;
    transform: translateX(50%);
    
}
.skill-per::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #25BFBF;
    border-radius: 10px;
    font-size: 1rem;
    top: -10px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;

}
@keyframes animation-bar{
    from{
        width: 0;
    }
    to{
        width: 100%;
        animation: scroll(1);
    }
}
