@tailwind base;
@tailwind components;
@tailwind utilities;

.border_shadow{
  box-shadow: 0 2px 16px rgba(0, 0, .1);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #1EA55C; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #054925; 
}
